body,html{height: 100%}
div[class*="col-"]{padding: 2px 2px}
table{width: 100%;text-align: center}

/*==== display*/
.display-none{display: none}

/*==== color*/
.c-red{color: red}

/*==== size*/
.height-100{height: 100%}
.height-20{height: 20%}

/*==== font*/
.font-1em{font-size: 1em}
.font-2em{font-size: 2em}
.font-3em{font-size: 3em;}
.font-weight100{font-weight:100}
.font-weight600{font-weight:600}

/*==== align*/
.text-center{text-align: center}
.text-left{text-align: left}
.text-right{text-align: right}
.valign-wrapper{display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}

/*==== padding*/
.padding0{padding: 0px !important;}
.padding0-15{padding: 0px 15px !important;}

/*==== border*/
.border-none{border: none !important;}



.app{background-color: #f2f4f7; min-height: 800px;max-height: 800px;height: 800px}
.card{position: relative;border: 1px solid #dee3eb;background: #fff;height: 795px}
@media (min-width: 992px){
    .app{overflow: hidden}
    .app .container-fluid{width: 1280px; min-width: 1280px}
}
.card > div{border-bottom: 1px solid #ddd;padding: 5px 0;}

.first-col .card{text-align: center;padding-top: 450px;}
.first-col i{font-size: 4em}
.first-col .card > div{border:none;padding: 0;}

.second-col table tr td{color: red;padding: 4px 0;font-weight: 600;}
.second-col table tr td:first-child{width: 40%;text-align: left;padding-left: 60px;color: inherit;font-weight: inherit}
.second-col .table-padding0 tr td:first-child{width: 40%;text-align: left;padding-left: 15px;color: inherit;font-weight: inherit}
.second-col i{font-size: 2.5em}
.second-col .sum-style{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;height: 40px;}
.second-col .devi-sum-style{border-top: 1px solid #ddd;}
.second-col .devi-sum-style td{padding-top: 5px;}
.second-col .insta{padding-top: 0px;text-align: right !important;padding-right: 30px;font-size: 11px !important;color: red !important;border-bottom: 1px solid #ddd;font-weight: 600 !important;}
.second-col .total-charge{height: 13%;padding-right: 15px !important;}
.second-col .total-charge p:nth-child(1){margin-bottom: -5px}
.second-col .total-charge p:nth-child(2){}

.third-col i{font-size: 2.5em}
.third-col .row-2{height: 66px}
.third-col .devi-pic{height: 521px}
.third-col .shipment span:nth-child(1){margin-right: 10px}
.third-col .shipment span:nth-child(2){}
.third-col .shipment span:nth-child(3){}


.fourth-col .devi-spec-wrap{padding: 25px 0 0 25px;}
.fourth-col .devi-spec{background-color: lightgrey;height: 560px;
    box-shadow: -2px 3px 6px rgba(0,0,0,0.2);
}
.fourth-col .devi-spec > div{height: 24%}
.fourth-col .devi-spec .devi-spec-i{text-align: center}
.fourth-col .devi-spec .devi-spec-i i{font-size: 5em;text-shadow: -1px 2px 3px rgba(0,0,0,0.5);}
.fourth-col .devi-spec .spec-sub{font-weight: 600;font-size: 1.5em;}
.fourth-col .ratings{padding: 35px 0;font-size: 2.7em;}


/*==== raring*/

.rating {
    color: #000;
    cursor: default;
    font-size: 0;
}
.rating:after {
    color: gold;
    font-size: 29px;
    font-weight: bold;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
}

.rating[title="1 of 5"]:after {
    content: "★☆☆☆☆";
}

.rating[title="2 of 5"]:after {
    content: "★★☆☆☆";
}

.rating[title="3 of 5"]:after {
    content: "★★★☆☆";
}

.rating[title="4 of 5"]:after {
    content: "★★★★☆";
}

.rating[title="5 of 5"]:after {
    content: "★★★★★";
}

.hreview {
    padding: 0.5em;
    width: 20em;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #fdfdfd;
}
.hreview:nth-child(even) {
    background-color: #f7f7f7;
}
.hreview .item {
    width: 72%;
    display: inline-block;
    font-weight: 600;
    color: #333;
    backgroud: transparent;
}
