.plus-back:after {
    content: "\f055";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: relative;
    font-size: 1.7em;
    color: black;
    top: 0;
    right: 0;
    z-index: 1;
}

.accordion h1:before{
    content: "\f078";
    font-family: FontAwesome;
    position: relative;
    font-size: 1em;
    color: #000;
    top: 0;
    right: -95%;
}

.accordion .h1-change:before{
    content: "\f077";
    font-family: FontAwesome;
    position: relative;
    font-size: 1em;
    color: #000;
    top: 0;
    right: -95%;
}

.phone-descrip{margin: 0 !important;}
.phone-descrip span{padding: 0}

.accordion h1, h2, h3, h4 {
    cursor: pointer;
}

.accordion h2, h3{
    padding: 14px 25px;
    font-size: 1.2em !important;
}

.accordion h1 {
    margin: 0;
    padding: 14px 20px;
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: normal;
    color: #333333;
}
.accordion h1:hover {
    color: black;
}
.accordion h1:first-child {
}
.accordion h1:last-of-type {
}
/*.accordion h1:not(:last-of-type) {*/
.accordion h1 {
    border-bottom: 1px solid #ddd;
}
.accordion div, .accordion p {
    display: none;
}
.accordion h2 {
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
    border-bottom: 1px solid #ddd;
}
.accordion h2:hover {
    background-color: #fff;
}
.accordion h3 {
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
    border-bottom: 1px solid #ddd;
}
.accordion h3:hover {
    background-color: #fff;
}
.accordion h4 {
    padding: 5px 35px;
    background-color: #ffc25a;
    font-size: .9rem;
    color: #af720a;
}
.accordion h4:hover {
    background-color: #e0b040;
}
.accordion p {
    padding: 10px 15px;
    background-color: #ddd;
    color: #333;
    line-height: 1.3rem;
}
.accordion .opened-for {
    display: block;
}