body,html{height: 100%}
div[class*="col-"]{padding: 2px 2px !important;}
.app{background-color: #f2f4f7; min-height: 800px;max-height: 800px;height: 800px}
.card{position: relative;border: 1px solid #dee3eb;background: #fff;height: 795px}
.height-100{height: 100%}
.app .container-fluid{width: 1280px; min-width: 1280px}
.col-md-4{}